In [2]:
import pandas as pd
import numpy as np
import statistics as st

In [3]:
df = pd.read_csv("loan.csv");

In [4]:
print(df.shape)

(500, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         500 non-null    int64
 1   Loan_ID            500 non-null    object
 2   Gender             491 non-null    object
 3   Married            497 non-null    object
 4   Dependents         488 non-null    object
 5   Education          500 non-null    object
 6   Self_Employed      473 non-null    object
 7   ApplicantIncome    500 non-null    int64
 8   CoapplicantIncome  500 non-null    float64
 9   LoanAmount         482 non-null    float64
 10  Loan_Amount_Term   486 non-null    float64
 11  Credit_History     459 non-null    float64
 12  Property_Area      500 non-null    object
 13  Loan_Status        500 non-null    object
 14  Total_Income       500 non-null    object
dtypes: float64(4), int64(2), object(9)
memory usage: 58.7+ KB

In [6]:
df = df.apply(pd.to_numeric, errors='coerce')
df.mean()

Unnamed: 0            249.500000
Loan_ID                      NaN
Gender                       NaN
Married                      NaN
Dependents              0.533482
Education                    NaN
Self_Employed                NaN
ApplicantIncome      5493.644000
CoapplicantIncome    1506.307840
LoanAmount            144.020747
Loan_Amount_Term      342.543210
Credit_History          0.843137
Property_Area                NaN
Loan_Status                  NaN
Total_Income                 NaN
dtype: float64

In [7]:
df.max()

Unnamed: 0             499.0
Loan_ID                  NaN
Gender                   NaN
Married                  NaN
Dependents               2.0
Education                NaN
Self_Employed            NaN
ApplicantIncome      81000.0
CoapplicantIncome    20000.0
LoanAmount             700.0
Loan_Amount_Term       480.0
Credit_History           1.0
Property_Area            NaN
Loan_Status              NaN
Total_Income             NaN
dtype: float64

In [8]:
df.min()

Unnamed: 0             0.0
Loan_ID                NaN
Gender                 NaN
Married                NaN
Dependents             0.0
Education              NaN
Self_Employed          NaN
ApplicantIncome      150.0
CoapplicantIncome      0.0
LoanAmount            17.0
Loan_Amount_Term      12.0
Credit_History         0.0
Property_Area          NaN
Loan_Status            NaN
Total_Income           NaN
dtype: float64

In [9]:
df.median()

Unnamed: 0            249.5
Loan_ID                 NaN
Gender                  NaN
Married                 NaN
Dependents              0.0
Education               NaN
Self_Employed           NaN
ApplicantIncome      3854.0
CoapplicantIncome    1125.5
LoanAmount            126.5
Loan_Amount_Term      360.0
Credit_History          1.0
Property_Area           NaN
Loan_Status             NaN
Total_Income            NaN
dtype: float64

In [10]:
df.std()

Unnamed: 0            144.481833
Loan_ID                      NaN
Gender                       NaN
Married                      NaN
Dependents              0.776468
Education                    NaN
Self_Employed                NaN
ApplicantIncome      6515.668972
CoapplicantIncome    2134.432188
LoanAmount             82.344919
Loan_Amount_Term       63.834977
Credit_History          0.364068
Property_Area                NaN
Loan_Status                  NaN
Total_Income                 NaN
dtype: float64

In [13]:
print(df.loc[:,'Loan_Amount_Term'].mean())

342.5432098765432

In [14]:
print(df.loc[:,'LoanAmount'].mean())

144.0207468879668

In [12]:
print(df.loc[:,'ApplicantIncome'].mean())

5493.644

In [19]:
df.mean(axis = 1)[0:6]

0    1035.000000
1     940.285714
2     489.857143
3     775.000000
4     929.428571
5    1464.000000
dtype: float64

In [22]:
print(df.loc[:,'LoanAmount'].median())

126.5

In [23]:
df.median(axis = 1)[0:5]

0      0.5
1    128.0
2      2.0
3    120.0
4      4.0
dtype: float64

In [24]:
df.var()

Unnamed: 0           2.087500e+04
Loan_ID                       NaN
Gender                        NaN
Married                       NaN
Dependents           6.029033e-01
Education                     NaN
Self_Employed                 NaN
ApplicantIncome      4.245394e+07
CoapplicantIncome    4.555801e+06
LoanAmount           6.780686e+03
Loan_Amount_Term     4.074904e+03
Credit_History       1.325456e-01
Property_Area                 NaN
Loan_Status                   NaN
Total_Income                  NaN
dtype: float64

In [ ]:
df[["Loan_Amount_Term","LoanAmount"]].groupby("Loan_Amount_Term").mean()

                  LoanAmount
Loan_Amount_Term
12.0              111.000000
36.0              155.000000
60.0              140.000000
84.0              124.500000
120.0              22.333333
180.0             150.264706
240.0              75.000000
300.0             190.250000
360.0             144.167920
480.0             155.333333

In [28]:
df[["Loan_Amount_Term","LoanAmount"]].groupby("Loan_Amount_Term").median()

                  LoanAmount
Loan_Amount_Term
12.0                   111.0
36.0                   155.0
60.0                   140.0
84.0                   124.5
120.0                   25.0
180.0                  120.0
240.0                   75.0
300.0                  125.5
360.0                  128.0
480.0                  107.5

In [29]:
df[["Self_Employed","LoanAmount"]].groupby("Self_Employed").mean()

Empty DataFrame
Columns: [LoanAmount]
Index: []